* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #B4D4FF;
}

.registration {
    background-color: #86B6F6;
    border: 5px dotted #176B87;
    height: 20rem;
    width: 20rem;
    padding: 1rem;
    
}

label {
    display: inline-block;
    text-align: left;
    width: 100%;
}

input, button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}

.radio-group {
    display: flex;
    
    
}



